*{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.nav-link{ color: unset !important; }

table th, table td {
    text-align: center !important;
}
.w-100{
    width:100%;
}
.m-2rem{
    margin: 2rem;
}
.icon-mr-7{
    margin-right: 7px;
}
.mt-1rem{
    margin-top: 1rem;
}
.d-flex {
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
}
.mb-15px{
    margin-bottom: 15px;
}

.p-confirm-popup {
    /* border: 1px solid #495057 !important; */
    background-color: #343a40 !important;
    color: white !important;
}
.p-confirm-popup-footer{
    display: flex;
    justify-content: space-around;
}

.p-toast-message {
    background-color: #343a40;
}

.p-toast-detail {
    color: white;
}