*{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.wrapper{
    align-items: stretch;
    display: flex;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
}

.nav-link{ color: unset !important; }
table th, table td {
    text-align: center !important;
    vertical-align: middle;
}

.inline-spacing {
    display: flex;
    gap:0.5rem;
    justify-content: center;
}

.w-100{
    width:100%;
}
.m-2rem{
    margin: 2rem;
}
.icon-mr-7{
    margin-right: 7px;
}
.mt-1rem{
    margin-top: 1rem;
}
.d-flex {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.mb-15px{
    margin-bottom: 15px;
}

.p-confirm-popup {
    background-color: #343a40 !important;
    color: white !important;
}
.p-confirm-popup-footer{
    display: flex;
    justify-content: space-around;
}

.p-toast-message {
    background-color: #343a40;
    color: white;
    border: unset;
}

.p-toast-message.p-toast-message-success {
    background: #00a65a;
}

.p-toast-message.p-toast-message-success svg {
    color: darkgreen;
}

.p-toast-message.p-toast-message-error {
    background: #d33724;
}

.p-toast-message.p-toast-message-error svg {
    color: darkred;
}

.p-toast-message.p-toast-message-success .p-toast-icon-close:hover {
    background: radial-gradient(#2b874b, #00a65a);
}

.p-toast-message.p-toast-message-error .p-toast-icon-close:hover {
    background: radial-gradient(#d33724, #a62819);
}

.p-toast-detail {
    color: white;
}

.container{
    margin-top: 2rem;
}

h5{
    margin-bottom: 0 !important;
}